@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import '../utils/variables-fonts.scss';
// @import './_breakpoints.scss';
@import '../layouts/header.scss';
@import '../layouts/footer.scss';
@import '../components/banner.scss';
@import '../components/cards.scss';
@import '../components/collapse.scss';
@import '../pages/error.scss';
@import '../pages/accomodation.scss';
@import '../components/carousel.scss';
@import '../components/rate.scss';
@import '../components/tags.scss';


body {
    font-family: "Montserrat", sans-serif;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    // max-width: 1440px;
}

// * {
//     outline: 1px solid red;
//   }