.footer {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    background: black;
    color: white;
    align-items: center;
    row-gap: 30px;
    margin-top: 45px;
    picture {
        margin-top: 65px;
    }
    div {
        margin-bottom: 30px;
    }
}

@media (max-width: 750px) {
    .footer {
        margin-top: 30px;
        font-size: 18px;
    }
}

@media (max-width: 505px) {
    .footer {
        margin-top: 20px;
        font-size: 12px;
        row-gap: 10px;
        text-align: center;
        div {
            max-width: 133px;
            margin-bottom: 60px;
        }
    }
    
}