.header {
    font-size: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 45px 100px 50px 100px;
    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        gap: 50px;
    } a {
        text-decoration: none;
        color: $red;
    }
    .activeLink {
        text-decoration: underline;
    }
}

@media (max-width: 750px) {
    .header {
        font-size: 18px;
        margin: 50px;
        ul {
            gap: 30px;
        }
        img {
            max-width: 160px;
        }
    }
}

@media (max-width: 505px) {
    .header {
        font-size: 12px;
        margin: 20px;
        ul {
            gap: 20px;
        }
        img {
            max-width: 120px;
        }
        a {
            text-transform: uppercase;
            }
    }
}