.carousel {
    margin: auto 100px;
    display: flex;
    height: 415px;
    border-radius: 25px;
    position: relative;
    overflow: hidden;

    .current-slide {
        object-fit: cover;
        width: -webkit-fill-available;
    }

    .overlay {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        img {
            cursor: pointer;
        }

        .currentImage {
            position: absolute;
            font-size: 18px;
            color: white;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 750px) {

    .carousel {
        
        margin: auto 50px;

        .overlay img {
            width: 70px;
        }
    }
}


@media (max-width: 505px) {

    .currentImage {
        display: none;
    }
    .carousel {
        height: 255px;
        border-radius: 10px;
        margin: auto 20px;
        
        .overlay img {
            width: 30px;
        }
    }
}