.rate {
    margin-top: 20px;
}


@media (max-width: 750px) {

    .rate svg {
        width: 30px;
    }
}

@media (max-width: 505px) {

    .rate {
        margin: 0;
        svg {
            width: 27px;
        }
    }
}