.carousel {
    margin: auto 100px;
    display: flex;
    max-height: 415px;
    border-radius: 25px;
    position: relative;
    overflow: hidden;

    img {
        object-fit: cover;
    }

    .overlay {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        img {
            cursor: pointer;
        }

        .currentImage {
            position: absolute;
            font-size: 18px;
            color: white;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            margin-bottom: 20px;
        }
    }
}

.rate {
    margin-top: 20px;
}

.accomodation-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 100px 25px 100px;

    .house-info {
        width: 70%;
        h1 {
            font-size: 36px;
            color: $red;
        }
        h2 {
            font-size: 18px;
            color: $red;
        }
    
    }

    .host-info {
        display: flex;
        flex-direction: column;

        .host {
            display: flex;
            gap: 10px;
        }

        p {
            display: flex;
            align-items: center;
            font-size: 18px;
            color: $red;
            max-width: 93px;
            text-align: right;
        }

        img{
            width: 64px;
            height: 64px;
            border-radius: 50%;
        }
        
    } 
}
.details-collapse {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 100px;

    .collapse {
        display: flex;
        flex-direction: column;
        width: 47%;

        p, ul {
            position: relative;
            padding: 20px 20px 15px 15px;
            background: $gray;
            color: $red;
            border-radius: 0 0 5px 5px;
            top: -7px;
            z-index: 10;
            line-height: 1.5em;
        }
        
        img {
            cursor: pointer;
        }

        ul {
            list-style: none;
        }

        li {
            color: $red;
        }

        button {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 20px 10px 15px;
            border-radius: 10px;
            background: $red;
            border: none;
            color: white;
            font-family: 'Montserrat';
            font-size: 18px;
            width: 100%;
            z-index: 20;
        }    
    }
}

@media (max-width: 750px) {

    .carousel {
        
        margin: auto 50px;
        .overlay img {
            width: 70px;
        }
    }

    .accomodation-info {
        margin: 20px 50px;
    }

    .details-collapse {
        flex-direction: column;
        gap: 20px;
        margin: 0 50px;
        .collapse {
            width: 100%;
        }
    
    }
    .rate svg {
        width: 30px;
    }
    
}

@media (max-width: 375px) {

    .carousel {
        height: 255px;
        border-radius: 10px;
        margin: auto 20px;
        .overlay img {
            width: 30px;
        }
    }

    .accomodation-info {
        flex-direction: column;
        margin: 15px 20px;

        h1 {
            font-size: 18px;
        }
        h2 {
            font-size: 14px;
            margin-top: 10px;
        }

        .host-info {
            flex-direction: row-reverse;
            align-items: center;
            justify-content: space-between;
            margin-top: 15px;
            .host {
                align-items: center;
                p {
                    font-size: 12px;
                    max-width: 60px;
                }
                img {
                    width: 48px;
                    height: 48px;
                    border-radius: 50%;
                }
            }
        }
    }
    
    .rate {
        margin: 0;
        svg {
            width: 27px;
        }
    }

    .details-collapse {
        flex-direction: column;
        gap: 20px;
        margin: 0 20px;
        .collapse {
            width: 100%;
            button {
                font-size: 13px;
                padding: 10px;
                border-radius: 5px;
            }
            p {
                font-size: 13px;
            }
        }
    
    }

}