@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import './variables-fonts.scss';
@import './header.scss';
@import './banner.scss';
@import './cards.scss';
@import './footer.scss';
@import './collapse.scss';
@import './error.scss';
@import './accomodation.scss';
@import './tags.scss';


body {
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    max-width: 1440px;
    // display: flex;
    // justify-items: center;
    // flex-direction: column
    }
