@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import './variables.scss';
@import './header.scss';
@import './banner.scss';
@import './footer.scss';
@import './collapse.scss';
@import './error.scss';

body {
    font-family: 'Monserrat', sans-serif;
    margin: auto;
    max-width: 1440px;
    }
