.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, auto);
    background-color: $gray;
    border-radius: 25px;
    margin: auto 100px;
    padding: 55px 50px 45px 50px;
    column-gap: 60px;
    row-gap: 50px;

    .card {
        display: flex;
        flex-direction: column;
        aspect-ratio: 1/1;

        .image-container {
            position: relative;
            overflow: hidden;

            img {
                max-width: 100%;
                max-height: 100%;
                object-fit: cover;
                border-radius: 10px;
                aspect-ratio: 1/1;
            }

        .overlay {
            position: absolute;
            top: -5px;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: flex-end;
            justify-content: flex-start;
            opacity: 1; 
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(0, 0, 0, 0.50) 100%);
            border-radius: 10px;
            
            figcaption {
                    padding: 20px;
                    color: white; 
                }
            }
        }
    }
}