.error-page {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: $red;
    margin: 139px auto;
    gap: 139px;
    :first-child{
        font-size: 288px;
        font-weight: 700;
        }
    :last-child{
        font-size: 18px;
        a {
            color: $red;
        }
    }
    .middle {
        font-size: 36px;
    }
}


@media (max-width: 375px) {

    .error-page {
        margin: 113px auto;
        gap: 139px;
        :first-child{
            font-size: 96px;
        }
        :last-child{
            font-size: 14px;
        }
        .middle{
            font-size: 18px;
        }
    }
}