.tags {
    display: flex;
    gap: 10px;
        li {
        background: $red;
        padding: 3px 30px;
        border-radius: 10px;
        color: white;
        margin: 20px 0 0;
        font-size: 14px;
    }
}